@import '../../bower_components/reset.scss/reset.scss';
@import 'partials/libs/fullpage.min.scss';
@font-face {
	font-family: Anurati-Regular;
	src: url("../fonts/Anurati-Regular.otf") format("opentype");
}
@font-face {
	font-family: FARRAY;
	src: url("../fonts/FARRAY.otf") format("opentype");
}
::-webkit-scrollbar {
	width: 0;
}
.section {
	&:nth-of-type(1) {
		@import 'partials/paralaxSectionStyle.scss';
	}

	&:nth-of-type(2) {
		@import 'partials/gridSectionStyle.scss';
	}
}